<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>API</title>
  </head>
  <body>
    <h1>KUL API</h1>
    <div id="root"></div>
  </body>
  <script src="server.js"></script>
</html>
